


body {
  padding-top: 150px;
  background: rgb(154, 173, 228);
  height: 100%;
}

/* .social{
  text-align: right;
  margin-bottom: 5x;
} */

#container {
  width: 100%;
  position: relative;
  height: auto !important;
  min-height: 100%;
  padding-bottom: 100px;
}

#include{
 padding-top: 0rem;
 padding-bottom: 3rem;
 margin-bottom: 3rem;
 text-align: center;
}


#about{
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  padding-top: 50px;
  
}

.about{
  font-size: 50px;
  padding-top: 50px;
}


.col-md-12{
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}


ul .list{
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box001{
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  padding-top: 7rem;
}



.col-md-8 ul{
  text-align: left;
  line-height: 50px;
  width: 100%;
  height: 100%;
}

.starter-template {
  padding: 20px px;
  /* background-color: white; */
  background-color: rgb(250, 245, 218);
}

.box01{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1em;
  padding: 0;
  color: rgb(51, 51, 80);
  font-size: 50px;
  font-family: inherit;
 
}


#skills{
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}


.box2{
    font-size: 2rem;
    padding: 0.5em 1em;
    margin: 1em 0 ;
    color: #5d627b;
    background: white;
    line-height: 2rem;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); */
}




.box3{
    font-size: 2rem;
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #5d627b;
    background: white;
    line-height: 2rem;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); */
}


.box4{
    font-size: 2rem;
    padding: 0.5em 1em;
    margin: 1em 0;
    margin-bottom: 5em;
    color: #5d627b;
    background: white;
    line-height: 2rem;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); */
}

.col-sm-4{
  margin-bottom: 1em;
}

.col-sm-4 p{
  font-size: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.color-talk {
  color: lightseagreen;
  margin: 50px;
  text-align: center;
}

.color-wrench {
  color: steelblue;
  margin: 50px;
  text-align: center;
}

.color-pencil {
  color:plum;
  margin: 50px;
  text-align: center;
}

.icon-size {
  font-size: 200%
}


.sakuhin{
  margin-top: 20px;
}


#works{
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}



.box02{
 text-align: center;
  margin-top: 30px;
  margin-bottom: 1em;
  padding: 0;
  color: rgb(51, 51, 80);
  font-size: 50px;
  font-family: inherit;
}

.col-sm-6 .col-md-4{
   width: 80%;
}



.btn{
  display       : inline-block;

}


.btn img{
  
  margin-top: 30px;
  width: 100%;
  color: #9f8fff;
  margin-bottom: 1em;
}



.btn p{
  color: #5d627b;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 20px;
}

.btn:hover {
  /* box-shadow: 0 3px 5px rgb(58, 78, 78); */
  background-color: #9f8fff;
  /* padding: 30px; */
}

/* 文字の折り返し */
p{
  width: 100%;
}
p.moji{
  word-break: break-all;
}


.box5 {
  /* width: 90%;
  height: 100%;
  background: white;
  text-align: center;
  margin-bottom: 1em; */
  
    font-size: 1.5rem;
    padding: 0.5em 1em;
    margin: 1em 0;
    margin-bottom: 5em;
    color: #5d627b;
    background: white;
    line-height: 2rem;
    text-align: center;
}


.box5:hover {
  background-color: #9f8fff;
  }

.box6 {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  margin: 1em 0;
  margin-bottom: 5em;
  color: #5d627b;
  background: white;
  line-height: 2rem;
}
  
.box6:hover {
background-color: #9f8fff;
}
  




.box03{
  text-align: center;
  margin-top: 1em;
  padding: 0.5em;
  color: rgb(51, 51, 80);
  font-size: 50px;
  font-family: inherit;
  
}


.info2 ul{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.info2 li{
  width: 100%;
}

ul{
  list-style: none;
}


.info2 h3{
  font-size: 30px;
  margin: auto;
  width: 100%;

}

.info2 h2{
  font-size: 30px;
  margin-top: 2em;
  margin: auto;
  width: 100%;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 100px;
  background: #3fefee;
  opacity: 0.6;
  border-radius: 30%;
  }
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}




.box10{
   width: 30px;
   height: 50px;
}


footer {
  /* height: 100px;
  background: #000;
  color: #5d627b;
  text-align: center;
  bottom: 0; */
  font-size: 3rem;
  padding-top: 3rem;
  text-align: center;
}


/* アニメーション */

.arrow-svg{
  fill: #fb8c00;
}

path {
fill: none; /*塗り*/
stroke: #000; /*線の色*/
stroke-dasharray: 2000;/*線の間隔*/
stroke-dashoffset: 0;/*線の開始位置*/
stroke-width: 1;/*線の太さ*/
animation: write 3s ease-in forwards;
-webkit-animation: write 3s ease-in forwards;
}

@keyframes write {
0% {
stroke-dashoffset: 2000;
fill:transparent;
}
50% {
fill:transparent;
}
100% {
stroke-dashoffset: 0;
fill::rgb(87, 58, 134);
}
}

@-webkit-keyframes write {
0% {
stroke-dashoffset: 2000;
fill:transparent;
}
50% {
fill:transparent;
}
100% {
stroke-dashoffset: 0;
fill:rgb(87, 58, 134);
}
}

.result {
  text-align: center;
  padding-bottom: 10rem;
  font-size: 3rem;
}